{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
       Everything, what you need for your PC-GAMEs. Search, Copy, Add or Save Your favorite Game (Cheats)!"
    </p>

    {% for item_id in reagents %}

        <div class="row featurette">
                <div class="col-md-7">
                    <h3>{{ item_id }}</h3>
                    <p> {{ item.class }} </p>
                    <p>{{ item.subclass }}</p>
                </div>
             

        {% endif %}

    {% endfor %}

{% endblock %}