<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>legends</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/fontawesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"> home page </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive"></div>
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ url_for('legends') }}">Legends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ url_for('contact') }}">Contact me</a>
                    </li>
                </ul>
            </div>
    </nav>
  
   <header class="masthead" style="background-image:url('static/img/bg-masthead.jpg')">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center"> 
                   <h4>Majestic mountains and looming castles, gothic churches , medieval towns<br>
                  and their fairy and scary legends.</h4>
                    <p>Why not let your imagination run wild ?</p>
            </div>
        </div>
        
          </header>
------------------------------------------------------------------------
    <div class="container">
    </div>
    <hr>
        {% block content %}
   

        {% endblock %}
            <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-white-center">
                        <article class="about">
                       Castles, chateaux and manors in Slovakia form an important part of immovable cultural
monuments. Today, many of these buildings serve the development of culture such as museums, galleries and are
made available for tourism. In addition to cultural, educational and aesthetic functions
they also represent significant material values. Therefore, it is necessary to protect ,record and document those historical objects.
                        </article>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">bryndza</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"> "bryndza" stands for a traditional Slovak speciality made of sheep cheese? Within the European Union it can only be produced in Slovakia and is distributed under the name "Slovenská bryndza". It is made of non-pasterized sheep milk from the sheep kept in the middle, northern and eastern Slovakia.  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">forests</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"> Slovakia is after Austria the second country in the middle Europe with the largest amount of forests? Almost 40 % of its territory is covered by forest, while in Austria it is only 6 % more</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">parachute</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">And do you know that the inventor of the parachute comes from Slovakia?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
                <div class="social d-flex justify-content-center">
                        <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-github-square"></i></a>
                    </div>
        
 <footer class="footer bg-black small text-center text-white-50">
                  <figure class="wp-block-image size-full">
         <img loading="lazy" src="https://www.slovakia.com/wp-content/uploads/2020/11/where-is-bratislava.png" alt="" class="wp-image-281" width="515" height="205">
         <span>Slovakia</span></figure>
         
<div class="container">Copyright © H 2021</div>
 </footer>
 </div>
 </div>
            </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        $("#copyright").text(new Date().getFullYear());
    </script>
</body>

</html>
             