<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>legends</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/fontawesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"> home page </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ url_for('legends') }}">Legends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ url_for('contact') }}">Contact me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   <header class="masthead" style="background-image:url('static/img/bg-masthead.jpg')">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center"> 
                   <h4>Majestic Mountains and looming castles, gothic churches, Medieval towns</h4>
              
            </div>
        </div>
          </header>


{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
{% endblock %}


             <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Mountains</h4>
                                    <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://slovander.sk/wp-content/uploads/2020/10/Bytosti-z-nasich-povier-predstavivost-alebo-realita-13-1170x635.png" alt="" />
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>majestic mountains and looming castles along bucolic rural landscapes</h4>
                            <p class="text-black-50 mb-0">Slovakia is replete with gothic churches, medieval towns, macabre torture inventions, as well as majestic mountains and looming castles along bucolic rural landscapes. Fittingly, legend after legend arose in such surroundings, many of which were based on enigmatic historical figures. All that beauty serve as open invitations to the stretches of imagination. But then again, the best legends rely on a least some smidgeon of truth.During the long cold winter evenings, the villagers grouped together and told stories with magical fiction. These stories have been enriched with elements of reality. Real people appear in them and the places where the stories take place are also real.</p>
                        </div>
                    </div>
                </div>
		
                 <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://slovander.sk/wp-content/uploads/2020/10/Bytosti-z-nasich-povier-predstavivost-alebo-realita-13-1170x635.png" alt=""></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                    
                            <p class="text-black-50 mb-0">
            Ideas in the people's social environment to be ideas that reflect people's faith in the existence of supernatural forces and beings and in their influence on man. The notions of superstition beings in the spiritual world of our ancestors were diverse.
             Belief in these beings was perceived as a fact confirmed by the experience of individuals with these beings. Folk faith regarded contact with a supernatural being or phenomenon as an authentic and real experience, and so oral stories or narratives in which our ancestors described experiences with supernatural beings, phenomena, or phenomena spread by word of mouth. Encounters with these beings took place under certain magical circumstances, in mysterious, unusual places or in the forest.
    
.</p>
                        </div>
                    </div>
                 </div>
</section>


    {% block content %}

        {% endblock %}
 <!-- Signup-->
        <section class="masthead" style="background-image:url('static/img/bg-masthead.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-white-center">
                        <article class="about">
                       Castles, chateaux and manors in Slovakia form an important part of immovable cultural
monuments. Today, many of these buildings serve the development of culture such as museums, galleries and are
made available for tourism. In addition to cultural, educational and aesthetic functions
they also represent significant material values. Therefore, it is necessary to protect ,record and document those historical objects.
                        </article>
                    </div>
                </div>
            </div>
        </section>
      <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0"><a href="https://slovakia.travel/en/things-to-see-and-do/culture-and-sights/castles-chateaux-and-manor-houses" target="_blank"></a></h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="https://www.fanpop.com" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">slovakiaTravel</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="https://www.facebook.com/travelportal.sk" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">slovakiaTravel</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="https://web.archive.org/web/20070513034629/http://www.castles.sk/index.php?castle=list" target="_blank"></a></div>
                            </div>
                        </div>
                    </div>

                <div class="social d-flex justify-content-center">
                        <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-github-square"></i></a>
                    </div>

                     <p>
	 <figure class="wp-block-image size-full">
         <img loading="lazy" src="https://www.slovakia.com/wp-content/uploads/2020/11/where-is-bratislava.png" alt="" class="wp-image-281" width="515" height="205"></figure>
         <span>Slovakia</span>
    </p>
                </div>    
      </div>  
                </div>
      </div>

    <footer class="footer bg-black small text-center text-white-50">
        <div class="container">Copyright © H 2021</div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        $("#copyright").text(new Date().getFullYear());
    </script>

</body>

</html>