{% extends "base.html" %}
{% block content %}
<h2>explore</h2>
{% for legend in legends %}

<div class="row featurette">

    {% if loop.index % 2 != 0 %}

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{{ legend.image_source }}" alt=""></div>
        <h3>{{ legend.name }}</h3>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <p class="text-black-50 mb-0">{{ legend.description }}</p>
            </div>
            <div class="col-xl-4 col-lg-4"><img class="img-fluid mb-3 mb-lg-0" src="{{ legend.image_source2 }}"></div>
        </div>
    </div>
    {% else %}

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-5 col-lg-4">
            <img class="img-fluid mb-3 mb-lg-0" src="{{ legend.image_source }}" alt=""></div>
        <h3>{{ legend.name }}</h3>
        <div class="col-xl-4 col-lg-4">
            <div class="featured-text text-center text-lg-left">
                <p class="text-black-50 mb-0">{{ legend.description }}</p>
                <div class="col-xl-4 col-lg-4"><img class="img-fluid mb-3 mb-lg-0" src="{{ legend.image_source2 }}"></div>
            </div>
        </div>
   {% endif %} 
    </div>
    {% if loop.index != loop.length %}

    <hr class="featurette-divider">

    {% endif %}

    {% endfor %}

{% endblock %}